<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
		<style>
			* {font-family: 'Press Start 2P', cursive;}
			body {background-image: "/img/3px-tile.png"}
		</style>
		<title>Impy Kids in Maze Madness!</title>
	</head>
	<body>
		{{{body}}}
	</body>
</html>