<div class="modal hide fade" id="nameForm" style="color: red;">
    <div class="modal-header">
        <h3>Please enter your name for the score table:</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="text" class="form-control" id="playerName" placeholder="YourName">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="nameSubmit">Submit</button>
    </div>
</div>

<div id="playArea"></div>

<a href="/scores">See the Hi-Scores!</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="phaser.js"></script>
<script src="game.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>