<div id="scores">
    <table>Scores:
        {{#each scores}}
        <tr>
            <td>{{name}}</td>
            <td>{{score}}</td>
            <td>{{start}}</td>
            <td>{{end}}</td>
        </tr>
        {{/each}}
    </table>
</div>

<a href="/">Play the game!</a>