<div id="scores">
    <ul>
        <li style="list-style: none">{{#each scores}}</li>
        <li>{{this}}</li>
        <li style="list-style: none">{{/each}}</li>
    </ul>
</div>

<a href="/">Play the game!</a>